[Unit]
Description=MYOS system calls
 
[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/etc/init.d/myos start
ExecStop=/etc/init.d/myos stop
 
[Install]
WantedBy=sysinit.target
