---
# file: tasks/config.yml

- name: config - set MYOS default config
  become: true
  with_items:
  - APP_NAME={{ lookup('env','ANSIBLE_APP_NAME') }}
  - APP_TYPE={{ lookup('env','ANSIBLE_APP_TYPE') }}
  - MYOS={{ lookup('env','ANSIBLE_MYOS') }}
  lineinfile:
    path: /etc/default/myos
    create: yes
    line: '{{ item }}'
    mode: '0644'

- name: config - update MYOS default config
  become: true
  with_items: '{{hosts_default_env|default([])}}'
  lineinfile:
    path: /etc/default/myos
    create: yes
    line: "{{item}}={{lookup('env',item)}}"
    mode: '0644'

- name: config - create /root/Makefile
  become: true
  template:
    src: Makefile.j2
    dest: ~/Makefile
    force: yes

